<html style="font-size: 14 px;color: red;">

    <head>

    <title>  Homepage </title>    

<style>

    html{

        font-size: 14px;
        font-family:'Lucida Sans';
        background-color: floralwhite;
    }

    body{
        width: 600px;
        margin: 0px auto;
        background-color: gainsboro;
        padding: 0 20px;
        border: 5px black double;
    }

    h1{

        font-size: 60px;
        text-align: center;
        padding: 20px;
        background-color: mediumaquamarine;
        text-shadow: black;
    }

    img{

        display: block;
        margin: 0px auto;
    }

    p,li{
        font-size: 16px;
        line-height: 2;
        letter-spacing: 1px;

    }

</style>

    </head>

    <body width = 600px;>
       
        <h1> Bridgelabz is cool </h1>

        <img src="E:\JSNode\nodeJs_Examples\BridgeLabz.jpg" alt="Alt for logo "width = "25%"/>
   
        <p>At Bridgelabz, we are techies.....</p>
   
        <ol>
            <li>Technologies</li>
            <li>Thinkers</li>
            <li>Builders</li>

        </ol>

        <p>
            BridgeLabz Job Guarantee Fellowship Program is 
            a 16 weeks tech-intensive program designed for 
            deserving candidates looking for high paying 
            development tech jobs. Through hands-on experiential 
            learning experience, we groom candidates and give 
            them job guarantee with a starting salary from 
            Rs. 3 lacs up to Rs. 6 lacs.

            To know more please visit <a href="https://www.bridgelabz.com/"> BridgeLabz</a> to know more
        </p>

    </body>

</html>